In [70]:
import json
import requests
import urllib
import pandas as pd

In [71]:
telaviv_dis = pd.DataFrame()

In [72]:
dests = open("C:\\Users\\97250\\Desktop\\תואר הנדסה\\שנה ג' סמסטר ב\\data mining\\Tasks\\3\\dests.txt", 'r')
destination = dests.read().splitlines()

In [73]:
api_key = 'Please insert your api key here'

# Distance Matrix

In [74]:
for i,city in enumerate(destination):
    distance_params = {'origins': 'Tel Aviv', 'destinations': city,'key': api_key}
    service_url = "https://maps.googleapis.com/maps/api/distancematrix/json?"
    url = service_url + urllib.parse.urlencode(distance_params)
    response = requests.get(url).json()
    telaviv_dis.loc[i, 'Target']= response['destination_addresses'][0]
    telaviv_dis.loc[i, 'Distance_km']= response['rows'][0]['elements'][0]['distance']['text']
    telaviv_dis.loc[i, 'Duration (hour+minutes)']= response['rows'][0]['elements'][0]['duration']['value']

### Converting value duration to hours & min

In [75]:
dur_hour = (telaviv_dis['Duration (hour+minutes)']//60)//60
dur_min = (((telaviv_dis['Duration (hour+minutes)']//60)/60)%dur_hour)*60
telaviv_dis['Duration (hour+minutes)'] = dur_hour.astype(int).astype(str) + ' hours ' + dur_min.astype(int).astype(str) + ' min'

# GeoCode

In [76]:
for i,city in enumerate(destination):
    url = "https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (destination[i], api_key)
    response = requests.get(url).json()
    telaviv_dis.loc[i, 'Longitude'] = response['results'][0]['geometry']['location']['lng']
    telaviv_dis.loc[i, 'Latitude'] = response['results'][0]['geometry']['location']['lat']

In [77]:
telaviv_dis

,Target,Distance_km,Duration (hour+minutes),Longitude,Latitude
0,"İstanbul, Türkiye","1,815 km",21 hours 2 min,28.978359,41.008238
1,"Amsterdam, Netherlands","4,533 km",48 hours 2 min,4.904139,52.367573
2,"Valletta, Malta","3,793 km",50 hours 52 min,14.514100,35.899237
3,"Basel, Switzerland","4,093 km",44 hours 1 min,7.588576,47.559599
4,"Doha, Qatar","2,164 km",22 hours 37 min,51.531040,25.285447

#### 3 farthest cities

In [78]:
telaviv_dis.sort_values('Distance_km', ascending=False).head(3)

,Target,Distance_km,Duration (hour+minutes),Longitude,Latitude
1,"Amsterdam, Netherlands","4,533 km",48 hours 2 min,4.904139,52.367573
3,"Basel, Switzerland","4,093 km",44 hours 1 min,7.588576,47.559599
2,"Valletta, Malta","3,793 km",50 hours 52 min,14.514100,35.899237