In [130]:
import json
import requests
import urllib
import pandas as pd

In [131]:
telaviv_dis = pd.DataFrame()

In [132]:
dests = open("C:\\Users\\97250\\Desktop\\תואר הנדסה\\שנה ג' סמסטר ב\\data mining\\Tasks\\3\\dests.txt", 'r')
destination = dests.read().splitlines()

In [133]:
api_key = 'Please insert your api key here'

# Distance Matrix

In [134]:
for i,city in enumerate(destination):
    distance_params = {'origins': 'Tel Aviv', 'destinations': city,'key': api_key}
    service_url = "https://maps.googleapis.com/maps/api/distancematrix/json?"
    url = service_url + urllib.parse.urlencode(distance_params)
    response = requests.get(url).json()
    telaviv_dis.loc[i, 'Target']= response['destination_addresses'][0]
    telaviv_dis.loc[i, 'Distance_km']= response['rows'][0]['elements'][0]['distance']['text']
    telaviv_dis.loc[i, 'Duration (hour+minutes)']= response['rows'][0]['elements'][0]['duration']['text']

# GeoCode

In [136]:
for i,city in enumerate(destination):
    url = "https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (destination[i], api_key)
    response = requests.get(url).json()
    telaviv_dis.loc[i, 'Longitude'] = response['results'][0]['geometry']['location']['lng']
    telaviv_dis.loc[i, 'Latitude'] = response['results'][0]['geometry']['location']['lat']

In [137]:
telaviv_dis

,Target,Distance_km,Duration (hour+minutes),Longitude,Latitude
0,"İstanbul, Türkiye","1,815 km",21 hours 3 mins,28.978359,41.008238
1,"Amsterdam, Netherlands","4,533 km",2 days 0 hours,4.904139,52.367573
2,"Valletta, Malta","3,793 km",2 days 3 hours,14.514100,35.899237
3,"Basel, Switzerland","4,094 km",1 day 20 hours,7.588576,47.559599
4,"Doha, Qatar","2,164 km",22 hours 39 mins,51.531040,25.285447

#### 3 farthest cities

In [138]:
telaviv_dis.sort_values('Distance_km', ascending=False).head(3)

,Target,Distance_km,Duration (hour+minutes),Longitude,Latitude
1,"Amsterdam, Netherlands","4,533 km",2 days 0 hours,4.904139,52.367573
3,"Basel, Switzerland","4,094 km",1 day 20 hours,7.588576,47.559599
2,"Valletta, Malta","3,793 km",2 days 3 hours,14.514100,35.899237